body {
    font-family: 'Varta', sans-serif;
    font-weight: 600;
}

.mainPage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 65px 25px auto;
    grid-template-areas: "header" "header-footer" "content";
    gap: 6px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 130px auto 160px;
    grid-template-rows: 65px;
    grid-template-areas: "trlogo titles clientlogo";
}

.tr-logo {
    grid-area: trlogo;
}

.tr-logo img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.titles h6 {
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: small;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 3px;
}

.client-logo {
    grid-area: clientlogo;
}

.client-logo img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.header-footer {
    grid-area: header-footer;
    width: 100%;
    background-color: rgb(92, 125, 156);
    margin-right: 0px;
    margin-left: 0;
}

.header-footer h6 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: small;
    font-weight: lighter;
    margin-top: 5px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "summary-img main-img" ". main-img" "legend main-img";
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    gap: 3px;
}

.summary-img {
    grid-area: summary-img;
}

.summary-img img {
    width: 100%;
    background-size: cover;
}

.main-img {
    grid-area: main-img;
}

.main-img img {
    width: 100%;
    background-size: cover;
}

.legend {
    grid-area: legend;
    width: auto;
    margin-bottom: 5px;
    border: 3px solid rgb(92, 125, 156);
    padding: 25px;
    margin: 20px;
}

.legend-item {
    display: inline-flex;
    width: 100%;
    gap: 5px;
    margin-bottom: 2px;
}

.legend-item span {
    padding: 0px;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    border-collapse: collapse;
    width: 100%;
}

#table td,
#table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(51, 63, 79);
    color: white;
}

.rowTotal {
    background-color: rgb(51, 63, 79);
    color: white;
    text-align: center;
}